<div id="site-wrapper">
  <div id="sidebar">
    <ul>
      <li>
        {{#link-to 'application'}}Home{{/link-to}}
      </li>
      <li>
        {{#link-to 'artists'}}Artists{{/link-to}}
      </li>
      <li>
        Albums
      </li>
      <li>
        Songs
      </li>
    </ul>
  </div>

  <div id="content">
    {{outlet}}
  </div>
</div>
