<div class="list-content">
  {{#each model as |artist|}}
    {{#link-to 'artist' artist classNames="list-wrapper"}}
      <div class="list-image">
        <img src="{{artist.thumbnail}}" alt="">
      </div>
      <div class="list-data">
        <div class="primary-text">{{artist.name}}</div>
        <div class="secondary-text">{{artist.songs.length}} songs</div>
      </div>
    {{/link-to}}
  {{/each}}
</div>
