<h2>Top Artists</h2>

{{#each model as |artist index|}}
  <div>
    <img src="{{artist.image}}" alt="">
  </div>
  <div>
    {{artist.name}}.
    Songs: {{artist.songs.length}}<br>
  </div>
{{/each}}

{{outlet}}
