<div id="artists-content">
  {{#each model as |artist|}}
    <div class="artist-wrapper">
      <div class="artist-image">
        <img src="{{artist.image}}" alt="">
      </div>
      <div class="artist-info">
        <div class="primary-text">{{artist.name}}</div>
        <div class="secondary-text">{{artist.songs.length}} songs</div>
      </div>
    </div>
  {{/each}}
</div>
